*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('sky.gif');
    background-repeat: no-repeat;
     background-size: cover;
 
}
img{
    width: 100%;
    height: 100%;
}
.sidebar{
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* overflow: hidden; */
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 5px solid white;
    animation: grow;
    animation-duration: 2s;
    animation-iteration-count: 2;
}
.sidebar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sidebar p{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
}
@keyframes grow {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.2);
    }
    80%{
        transform: scale(1.3);
    }
}

button{
    padding: 10px;
}
.navigations{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}